.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  color: #282c34;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.content > div {
  display: inline-block;
  height: 100%;
}

.git-char {
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: flex;
}
